/node_modules
/public/hot
/public/storage
/public/js/app.js
/public/css/app.css
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/vcs.xml
.idea/workspace.xml
/.idea/
.idea/workspace.xml
/scripts/data/
.idea/workspace.xml
public/js/app.js
